<%=render "add"%>
<h3>Running countdowns</h3>
<ul id="running-countdowns">
<% @happenings.each do |happening| %>
    <% if happening.get_countdown_string != "completed"%>
        <%=render "label", happening: happening%>
    <%end%>
<% end %>
</ul>

<h3>Completed countdowns</h3>
<ul id="completed-countdowns">
<% @happenings.each do |happening| %>
    <% if happening.get_countdown_string == "completed"%>
        <%=render "label", happening: happening%>
    <% end %>
<% end %>
</ul>
<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
